 div {
 /*border: 1px solid purple;*/
 }
 
 * {
 padding: 0px;
 margin: 0px;
 }

/*********************************************************************************/
/* HEADER */

/* Navbar */
.navbar-default {
  background-color: #3a3f44;
  border-color: #2b2e32;
}
.navbar-default .navbar-brand {
  color: #c8c8c8;
  color: #1e94cc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
  font-weight: bolder;
}
.navbar-default .navbar-text {
  color: #c8c8c8;
}
.navbar-default .navbar-nav > li > a {
  color: #c8c8c8;
      font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #272b2e;
  opacity: 0.5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #272b2e;
  
   
    color: #fff;
    background: #f57c00;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
  
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #272b2e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #272b2e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c8c8c8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2b2e32;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #272b2e;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c8c8c8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #272b2e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #272b2e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #c8c8c8;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.navbar-default .btn-link {
  color: #c8c8c8;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #ffffff;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
} 
 
 
.navbar-brand {
	position: fixed; display: block;
}
 
 
.navbar-header, .navbar-brand, .nav > li > a {
	line-height: 80px;
	height: 80px;
	padding-top: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.navbar-nav {
	margin-top:0px;
}

.navbar-toggle {
	margin-top: 25px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.navbar-toggle-shrink {
	margin-top: 8px
}

.navbar-transparent {
	background: transparent;
	 -webkit-transition: background 2s ease;  
	transition: background 2s ease;
	
	border: 0px solid; 
}

@media ( max-width :767px) {
	.navbar-transparent {
		background: #393c3e;
	}
}

.navbar-transparent-shrink {
	background: #393c3e;
}
 
.navbar-height50 {
	height: 50px;
	line-height: 50px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
  
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}





/*********************************************************************************/
/* CONTENT */
#content {
	 
}

 
/*********************************************************************************/ 
/* FOOTER */ 
 
#footer {
	background: black;
} 



