 div {
 /*border: 1px solid purple;*/
 }
 
 body {
 /* 	font-size: 62.5%; */
 }
 
 * {
 	padding: 0px;	
 	margin: 0px;
 	box-sizing: border-box;
 } 

/*********************************************************************************/
/* HEADER */

/* Navbar */
.navbar-default {
  background-color: #3a3f44;
  border-color: #2b2e32;
}
 
 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
  font-weight: bolder;
}


.navbar-default .navbar-nav > li > a {
  color: #c8c8c8;
  font-weight: 600;
  line-height : 80px;
  height : 80px;
  display: block;
  position: relative;
  
}

.navbar-nav-hover {
	color: #ffffff;
  	background-color: rgba(0,0,0,0.4);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   color: #cccccc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #272b2e;
  background: #f57c00;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #272b2e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #272b2e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c8c8c8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2b2e32;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #272b2e;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c8c8c8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #272b2e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #272b2e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #c8c8c8;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.navbar-default .btn-link {
  color: #c8c8c8;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #ffffff;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
} 
 
 
#menu {
	position: relative;
} 
 
.navbar-brand {
	position: fixed; 
	display: block;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	
}

.navbar-brand > img {
	display: inline-block;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
 
 
.navbar-header, .navbar-brand, .nav > li > a {
	line-height: 80px;
	height: 80px;
	padding-top: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	padding-left: 10px;
}

@keyframes menu_hover_anim{
    0%   {
    	width: 0%;
    	background-color: #02516f;
    }
    100% {
    	width: 95%;
    	background-color: #5bc0de;
    }
}

.menu_hover {
	margin: 0 auto;
    left: 0;
    right: 0; 
		
	position: absolute;
	bottom: 10px;
	display: none;
	height: 4px;
	background-color: #f57c00;
	 
	z-index: 999999; 
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	
	animation-name: menu_hover_anim;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: easy-in-out;
    
	-webkit-box-shadow: 0px 0px 10px 0px rgba(91,192,222,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(91,192,222,1);
	box-shadow: 0px 0px 10px 0px rgba(91,192,222,1);
}

.navbar-nav {
	margin-top:0px;
	text-transform:  uppercase;
	position: relative;
}

.navbar-nav {
	position: relative; 	
	
}

.navbar-toggle {
	margin-top: 25px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.navbar-toggle-shrink {
	margin-top: 8px
}

.navbar-transparent {
	background-color: rgba(57,60,62,0.4);
	
	 -webkit-transition: background 2s ease;  
	transition: background 2s ease;
	border: 0px;
	
}

@media ( max-width :767px) {
	.navbar-transparent {
		background: #393c3e;
	}
}

.navbar-transparent-shrink {
	background: #393c3e;
}
 
.navbar-height50 {
	height: 50px;
	line-height: 50px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand  a,
.navbar-brand  a:FOCUS,
.navbar-brand  a:VISITED,
.navbar-brand  a:HOVER
 {
	font-size: 24px;
	text-decoration: none;
	color: #ffffff;
}

.navbar-brand >  a > img {
  height: 100%;
  width: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.logoText {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.navbar-collapse {
	max-height: 1000px;
}


/*********************************************************************************/
/* CONTENT */

.section {
	height: 300px;
	display: block;
	border: 1px solid black;
	background: gray;
}

#content {
	
}

#knowledgeCenter {
	bacground: #393c3e;
}

 
/*********************************************************************************/ 
/* FOOTER */ 
 
#footer {
	background: black;
} 


#contact {
	padding-top: 30px;
	padding-bottom: 30px;
}


.navbar-collapse {
	max-height: 1000px;
}