 div {
 /*border: 1px solid purple;*/
 }
 
 * {
 padding: 0px;
 margin: 0px;
 }

/*********************************************************************************/
/* HEADER */

.navbar-brand {
	position: fixed; display: block;
}
 
.navbar-header, .navbar-brand, .nav > li > a {
	line-height: 80px;
	height: 80px;
	padding-top: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.navbar-nav {
	margin-top:0px;
}

.navbar-toggle {
	margin-top: 25px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.navbar-toggle-shrink {
	margin-top: 8px
}

.navbar-transparent {
	background: transparent;
	 -webkit-transition: background 2s ease;  
	transition: background 2s ease;
	
	border: 0px solid; 
}

@media ( max-width :767px) {
	.navbar-transparent {
		background: black;
	}
}

.navbar-transparent-shrink {
	background: black;
}
 
.navbar-height50 {
	height: 50px;
	line-height: 50px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
  
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}


 



/*********************************************************************************/
/* CONTENT */
#content {
	background-color:  gray;
}

 
/*********************************************************************************/ 
/* FOOTER */ 
 
#footer {
	background: black;
} 



